* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}

body,
input,
button {
  font-size: 16px;
  font-family: fp, sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --color-background: #000;
  --color-primary: #fff;
  --color-secondary: #161617;
  --color-text: #868686;
}

@font-face {
  font-family: fp;
  src: url(../fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: fpr;
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: fps;
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: fpm;
  src: url(../fonts/SF-Pro-Display-Medium.otf);
}

.header__all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  background-color: var(--color-secondary);
  width: 100vw;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: pink 2px solid;
  padding: 10px 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
  padding: 10px 0;
  border: yellowgreen 2px solid;
}

.header__img {
  width: 1.2rem;
  height: fit-content;
  object-fit: cover;
  border: blue 2px solid;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.header__a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: fp;
  font-size: 12px;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 141px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  width: 65vw;
}

.hero__header,
.hero__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
}

.applecreate {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  width: 40%;
}

.videoapps {
  position: relative;
  object-fit: contain;
  top: 0;
  left: 0;
  z-index: -1;
  width: 80%;
}

.filler {
  padding-top: 3vh;
}

.hero__h1 {
  color: rgba(255, 255, 255, 1);
  font-family: fps;
  font-weight: 600;
  z-index: 2;
  text-align: center;
  font-size: 7vw;
}

.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.hero__description-p {
  color: var(--color-text);
  font-family: fpm;
  font-size: 21px;
  font-weight: 500;
  font-style: medium;
  text-align: center;
}

.foot-white {
  color: var(--color-primary);
  font-family: fpm;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.hero__p_countdown {
  padding-top: 25px;
  color: rgba(134, 134, 134, 1);
  font-family: fp;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1024px) {
  .hero__description-p {
    font-size: 18px;
    padding: 0 15px;
  }
}

@media (max-width: 870px) {
  .header__all {
    justify-content: space-between;
  }
  .icons {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .hero__description-p {
    font-size: 16px;
    min-height: 120px;
  }

  .hero__p_countdown {
    font-size: 18px;
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .hero__description-p {
    font-size: 14px;
    min-height: 150px;
  }

  .hero__p_countdown {
    font-size: 16px;
    padding-top: 15px;
  }
}
