* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
  font-family: fp, sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --color-background: #000;
  --color-primary: #fff;
  --color-secondary: #161617;
  --color-text: #868686;
}

@font-face {
  font-family: fp;
  src: url(../fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: fpr;
  src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: fps;
  src: url(../fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: fpm;
  src: url(../fonts/SF-Pro-Display-Medium.otf);
}

.header__all {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  width: 100vw;
  height: 44px;
}

.header__logo {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  flex-wrap: wrap;
}

.header__a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: fp;
  font-size: 12px;
  font-weight: 400;
}

.icons {
  gap: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  padding-top: 141px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero__header {
  border: none;
}

.applecreate {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  height: 120px;
}

.videoapps {
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  height: 300px;
}

.filler {
  padding-top: 15vh;
}

.hero__h1 {
  color: rgba(255, 255, 255, 1);
  font-family: fps;
  font-size: 80px;
  font-weight: 600;
  z-index: 2;
}

.hero__nav {
  max-height: 300px;
}

.hero__description-p {
  width: 954px;
  height: 100px;
  color: var(--color-text);
  font-family: fpm;
  font-size: 21px;
  font-weight: 500;
  font-style: medium;
  text-align: center;
}

.foot-white {
  color: var(--color-primary);
  font-family: fpm;
}

.hero__p_countown {
  padding-top: 25px;
  color: rgba(134, 134, 134, 1);
  font-family: fp;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 390px) {
  .hero__h1 {
    font-size: 42px;
  }

  .hero__description-p {
    width: 300px;
    font-size: 16px;
    height: auto;
  }

  .applecreate {
    height: 80px;
  }
  .videoapps {
    height: 200px;
  }

  .hero__p_countown {
    font-size: 16px;
  }

  .hero__nav {
    max-height: 200px;
  }

  .header__nav {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    padding: 1vw 2vw;
  }
}
